.form {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 10px;
}
.form__labelText {
    width: 50px;
    margin: 8px;
    display: flex;
}
.form__field {
    padding: 7px;
    display: flex;
    flex-grow: 1
}
.form__paragrafAmount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form__paragrafCurrency {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form__result {

    margin-top: 45px;
}